<header class="h10vh">
        <nav class="grey darken-3 row">
            <div class="nav-wrapper offset-s1 col s12 m6 l6">
                <a href="#" class="offset-s1 col s10  brand-logo pl5prc mobile">Meme Generator</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger floatRight s2"><i class="material-icons">menu</i></a>
            </div>

            <div class="offset-s2 col s2">
                <ul class="right hide-on-med-and-down">
                    <li><a href="badges.html">Accueil</a></li>
                    <li><a href="badges.html">Galerie</a></li>
                </ul>
            </div>
        </nav>
        
            <ul class="sidenav grey darken-3" id="mobile-demo">
            <li><a href="badges.html" class=" ">Accueil</a></li>
            <li><a href="badges.html" class=" ">Galerie</a></li>
            </ul>
</header>