{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block content %}


    <div class="h10vh"></div>

<section class="container row h70vh">
    
    <img class="col m4 s10 h30vh bgWhite" name="output_img" class="" id="output_img"/>
    <form class="col m6 s12 offset-m1" method="POST" action="" enctype="multipart/form-data">
        
        <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
        <input type="file" name="img" id="file-input">
        <input type="submit" name="submit" value="Générer">
        <input type="text" name="pseudo" placeholder="Pseudo">
        <input type="text" name="textTop" placeholder="Texte supérieur">
        <input type="text" name="textBot" placeholder="Texte inférieur">
        <select id="browsers">
            <option value="Times_new_roman" selected>Times new roman</option> 
            <option value="Myriad">Myriad</option>
            <option value="Roboto">Roboto</option>
        </select>

        <select>
            <option value="14px">14 pixels</option>
            <option value="16px">16 pixels</option>
            <option value="18px">18 pixels</option>
        </select>
    </form>

    <div class="row">
        <h3 class="col s12 borderBot lh2 p0">Les memes récents</h3>

        {% for memes in meme %}
            <div class="col s12 m2 l2">
                <p>{{ memes.mem_pseudo }}</p>
                <p>{{ memes.mem_image }}</p>
                <p>Crée le : {{ memes.mem_createdAt }}</p>
            </div>
        {% endfor %} 
    </div>

</section>
{% endblock %}